[alias]
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	fileTag = "!f() { git diff --name-only $(git show --pretty=format:%P \"$1\"); }; f"
	dfmaster = "!f() { git diff --name-status origin/master \"$1\"; }; f"
